/ev/lab1/.idea/
/ev/lab1/cmake-build-debug/
/ev/lab0/.idea/
/ev/lab0/cmake-build-debug/
/PUPOK/PAPKA_POD_LABU_1/cmake-build-debug/
/PUPOK/PAPKA_POD_LABU_2/.idea/
/PUPOK/PAPKA_POD_LABU_2/cmake-build-debug/
/lab1/.idea/
/lab1/CMakeFiles/
/lab1/cmake_install.cmake
/lab1/CMakeCache.txt
/k9/lab2/.idea/
/k9/lab2/cmake-build-debug/
/k9/lab0/.idea/
/k9/lab0/cmake-build-debug/
